<div class="navbar">
    <a href="/index.html" class="navbar-icon">StarlitNova</a>
    <div class="right">
        <a href="/index.html">Home</a>
        <a href="/about.html">About</a>
        <a href="/projects.html">Projects</a>
    </div>
</div>
